@font-face {
    font-family: 'ave';
    src: url('../fonts/Avenir-Heavy.woff2') format('woff2'),
        url('../fonts/Avenir-Heavy.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'er';
    src: url('../fonts/ElleBaskerville.woff2') format('woff2'),
        url('../fonts/ElleBaskerville.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}
/* 
@font-face {
    font-family: 'Elle Baskerville';
    src: url('../fonts/ElleBaskerville-BoldItalic.woff2') format('woff2'),
        url('../fonts/ElleBaskerville-BoldItalic.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    font-display: fallback;
}


@font-face {
    font-family: 'Elle Baskerville';
    src: url('../fonts/ElleBaskerville-Bold.woff2') format('woff2'),
        url('../fonts/ElleBaskerville-Bold.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Elle Baskerville';
    src: url('../fonts/ElleBaskerville-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/ElleBaskerville-SemiBoldItalic.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Elle Baskerville';
    src: url('../fonts/ElleBaskerville-SemiBold.woff2') format('woff2'),
        url('../fonts/ElleBaskerville-SemiBold.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    font-display: fallback;
} */

@font-face {
    font-family: 'ei';
    src: url('../fonts/ElleBaskerville-Italic.woff2') format('woff2'),
        url('../fonts/ElleBaskerville-Italic.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    font-display: fallback;
}

